{%extends "base.html" %}
{% block content %}
<div id="dashboard-container">
<form class = "form inline" method = "POST" action="{{url_for('dashboard') }}">
    <div class="input-group-1">
        <div class="input-group mb-3 form-field">
            <span class = "input-group-text">Set lower limit of Age Group: </span>
            <input type = "text" class = "form-control" name = "min_age" value=0> 
        </div>
        <div class = "input-group mb-3 form-field">
            <span class = "input-group-text">Set upper limit of Age Group: </span>
            <input type = "text" class = "form-control" name = "max_age" value=30>
        </div>
    </div>
    <div class="input-group-2">
        <span>From : </span>
        <input type="datetime-local" id = "meeting-time" name = "min_date" value = "2021-01-01">
        <span>To : </span>
        <input type="datetime-local" id = "meeting-time" name = "max_date" value = "2022-01-01">
    </div>
    <button type="submit" class = "btn btn-default btn-light"> Submit</button>
    <div class = "h3"><h3> Most visited Locations for selected Age Group </h3></div>
    <div class = "diagramms chart-section" > 
        <div class="col-xs-10 col-sm-6 col-md-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-sm-3 col-md-4">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="my2ndChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "h3"><h3> Most Used Services for selected Age Group </h3></div>
    <div class="diagramms2 chart-section">
        <div class="col-xs-10 col-sm-6 col-md-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="myChart3"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-sm-3 col-md-4">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="my2ndChart3"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "h3"><h3> Services used by most Customers </h3></div>
    <div class = "diagramms3 chart-section">
        <div class="col-xs-10 col-sm-6 col-md-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="myChart4"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-sm-3 col-md-4">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="my2ndChart4"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <canvas id="myChart" max-width="100" max-height="100"></canvas>
    <script>
        let names = JSON.parse({{ names | tojson }});
        let datas = JSON.parse({{ datas | tojson }});
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: names,
                datasets: [{
                    label: 'Locations',
                    data: datas,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        let income_vs_expense_chart = new Chart(my2ndChart, {
                type: 'pie',
                data: {
                labels: names,
                    datasets: [{
                        label: "Locations",
                        data: datas,
                        backgroundColor: [
                        '#5DA5DA ', '#FAA43A', '#60BD68',
                        '#B276B2', '#E16851', '#FB8267',
                        '#e3d8aa'
                    ],
                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgb(99,137,149)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Income Vs Expenses",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })
    </script>
    <canvas id="myChart3" max-width="100" max-height="100"></canvas>
    <script>
    let services = JSON.parse({{ services | tojson }});
    let answers = JSON.parse({{ answers | tojson }});
    var ctx = document.getElementById('myChart3').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: services,
            datasets: [{
                label: 'Services',
                data: answers,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    let income_vs_expense_chart2 = new Chart(my2ndChart3, {
            type: 'pie',
            data: {
            labels: services,
                datasets: [{
                    label: "Locations",
                    data: answers,
                    backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                        '#B276B2', '#E16851', '#FB8267','#e3d8aa'],

                    borderWidth: 1,
                    hoverBorderColor: "black",
                    hoverBorderWidth: 2,
                    hoverBackgroundColor: 'rgba(154, 245, 140)',
                    pointHoverRadius: 5
                }],
            },
            options: {
                    title: {
                        display: true,
                            text: "Income Vs Expenses",
                                fontSize: 20,
                    },
                    legend: {
                        position: "right",
                            labels: {
                            fontColor: "gray"
                        },
                        display: true,
                    },

                    elements: {
                        hitRadius: 3,
                    }
            }
        })
    </script>
    <canvas id="myChart4" max-width="100" max-height="100"></canvas>
    <script>
    let Serv_name = JSON.parse({{ Serv_name | tojson }});
    let Val_oc = JSON.parse({{ Val_oc | tojson }});
    var ctx = document.getElementById('myChart4').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: Serv_name,
            datasets: [{
                label: 'Locations',
                data: Val_oc,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    let income_vs_expense_chart4 = new Chart(my2ndChart4, {
            type: 'pie',
            data: {
            labels: Serv_name,
                datasets: [{
                    label: "Services used by most Customers",
                    data: Val_oc,
                    backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                        '#B276B2', '#E16851', '#FB8267','#e3d8aa'],

                    borderWidth: 1,
                    hoverBorderColor: "black",
                    hoverBorderWidth: 2,
                    hoverBackgroundColor: 'rgba(154, 245, 140)',
                    pointHoverRadius: 5
                }],
            },
            options: {
                    title: {
                        display: true,
                            text: "Income Vs Expenses",
                                fontSize: 20,
                    },
                    legend: {
                        position: "right",
                            labels: {
                            fontColor: "gray"
                        },
                        display: true,
                    },

                    elements: {
                        hitRadius: 3,
                    }
            }
        })
    </script>
</form>
</div>
{% endblock %}
   