/* STATIC VARIABLES */
:root {
    /* for DARK */
    --font-color-dark: white;
    --bg-color-dark: #212529;

    /* for LIGHT */

    /* Borders */
    --border-radius: 15px;
}

* {
    position: relative;
    font-family: jura;
}

html, body {
    color: var(--font-color-dark);
    width: 100%;
    height: 100%;
}

#backdrop-img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(1.3);
}

#backdrop-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* frosted glass effect */
    background-color: rgba(50, 50, 50, .5);  
    backdrop-filter: blur(6px);
}

/* CUSTOMERS VIEW */
.customers-card h3 {
    padding-bottom: 1em;
}

.customers-card table {
    box-shadow: 0 0 20px -5 black;
    border: 0px;
    color: white;
    padding: 1em;
}

.customers-card table thead {
    border-bottom: 1px solid rgba(255, 255, 255, 0.353);
}

.customers-card table tbody tr:hover {
    background: rgba(194, 191, 191, 0.156);
    cursor: pointer;
}

.customers-card, .purchases-card, .covid-card, .covid-suspects-card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1em;
    margin: 2em;
    background: #1e1d1d5c;
    border-radius: var(--border-radius);
    box-shadow: 0 0 20px 0 black;
}

#purchases-container {
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
}

#purchases-container h3 {
    display: block;
    padding: 1em 1em 0 1em;
    width: 100%;
}

.purchases-card ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.purchases-card ul li {
    margin: 10px 0;
}

.purchases-card ul li span {
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 black;
    background: #5a5a5a5c;
}

#accesses-container, #dashboard-container, #customer-form-container, #reservation-container {
    padding: 2em;
}

#accesses-container form {
    height: 3em;
    align-items: flex-start;
    justify-content: flex-start;
}

#accesses-container form .form-field {
    height: 100%;
    max-width: 13em;
    margin-right: 10px;
    display: inline-flex;
}

#accesses-container form #services-list {
    padding: 10px;
    display: block;
    color: white;
    border: none;
    background: #1e1d1d5c;
    border-radius: var(--border-radius);
    box-shadow: 0 0 20px 0 black;
    width: 9em;
}

#accesses-container ul {
    margin: 1em 10em;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    padding: 1em;
    background: #1e1d1d5c;
    border-radius: var(--border-radius);
    box-shadow: 0 0 20px 0 black;
}

#accesses-container ul li {
    margin: 10px 0;
}

#accesses-container ul li span {
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 black;
    background: #5a5a5a5c;
}

#covid-container form {
    margin-top: 2em;
    margin-left: 2em;
}

#covid-container form select {
    height: 3em;
    margin: 1em 0;
    border-radius: 10px;
}

.covid-card table {
    box-shadow: 0 0 20px -5 black;
    border: 0px;
    color: white;
    padding: 1em;
}

.covid-card table thead {
    border-bottom: 1px solid rgba(255, 255, 255, 0.353);
}

.covid-card table tbody tr:hover {
    background: rgba(194, 191, 191, 0.156);
    cursor: pointer;
}

#dashboard-container {
    display: flex;
    flex-direction: column;
}

#dashboard-container .input-group-2 {
    display: block;
}
#dashboard-container form div .form-field {
    max-width: 22em;
    margin-right: 10px;
    display: inline-flex;
}

#dashboard-container form button {
    display: block;
    margin: 10px 0;
}

#dashboard-container form .chart-section {
    display: flex;
    justify-content: space-around;
}